body {
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.header {
    background-color: #ffffff;
    width: 100%;
}

.header__title__logo {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
    font-family: "Courgette", cursive;
    font-weight: bold;
    font-style: normal;
    font-size:48px;
}

.header__title__logo:hover {
    text-decoration: none;
    color: #ffc800;
    transition: 0.2s;
}

.header__inner {
    max-width: 100vw;
    margin: 0 40px;
    padding: 10px 10px;
}

.content-wrapper {
    max-width: 100vw;
    margin: 0 40px;
    padding: 30px 10px;
}

.header__title {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.06em;
    transform: none;
    color: #ffdf0e;
    margin: 0;
}

@media (max-width: 900px) {
    .products-layout {
        flex-direction: column;
    }
    .products-filter {
        width: 100%;
    }
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .products-layout .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .products-layout .products-list {
        grid-template-columns: 1fr;
    }
}
